extends layout

block content
    style.
        body{
            background-color: #574370;
        }
        .div_form{
            background-color: white;   
        }

    .container.animated.fadeIn.grey-text.text-lighten-5()
        
        .row(style='margin-top:18%')     
            .row
                .col.m4
                    .row(style='margin-top:6%') 
                        .col.m12
                            img(src='/images/logo01_color.png').responsive-img

                .col.m8
                    .row
                        .col.m12.s12(align='center')
                            h2 #{title}
                    .row            
                        .col.m12.s12(align='center')
                            h5 #{subtitle}

block footer