extends layout

block content
  style.
    body {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
    }
    body:before {
        content: "";
        position: absolute;
        height: 20%; width: 20%;
        background: url(/images/background.jpg);
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */
        
        /* don't forget to use the prefixes you need */
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: blur(0.8px);
    }
  .container.animated.fadeIn
      .row
          .col.s12.m6
            each val in surveys
              .card.medium
                .card-image
                  img(src='/images/coffee.jpg')
                  span.card-title= val.nombre
                .card-content
                  p= val.descripcion
                    
                .card-action
                  a(href='#') This is a link
                  .fixed-action-btn.horizontal.click-to-toggle(style='bottom: 45px; right: 24px;')
                    a.btn-floating.btn-large.red
                      i.material-icons menu
                    ul
                      li
                        a.btn-floating.red
                          i.material-icons insert_chart
                      li
                        a.btn-floating.yellow.darken-1
                          i.material-icons format_quote
                      li
                        a.btn-floating.green
                          i.material-icons publish
                      li
                        a.btn-floating.blue
                          i.material-icons attach_file
  
  .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.red.waves-effect.waves-light(href='/survey/new')
        i.large.material-icons add
      //ul
        li
          a.btn-floating.red
            i.material-icons insert_chart
        li
          a.btn-floating.yellow.darken-1
            i.material-icons format_quote
        li
          a.btn-floating.green
            i.material-icons publish
        li
          a.btn-floating.blue
            i.material-icons attach_file


  block footer
