extends layout

block content
  style.
    body {
        background-color: #eceff1;
    }
    
  .container.animated.fadeIn
      .row
        each val in surveys
          .col.s12.m6
              .card.medium
                .card-image
                  img(src='/images/coffee.jpg')
                  span.card-title= val.nombre
                .card-content
                  p= val.descripcion
                    
                .card-action
                  a(href='/survey/'+val._id) This is a link
                  .fixed-action-btn.horizontal.click-to-toggle(style='bottom: 45px; right: 24px;')
                    
  
  .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.red.waves-effect.waves-light(href='/survey/new')
        i.large.material-icons add
      //ul
        li
          a.btn-floating.red
            i.material-icons insert_chart
        li
          a.btn-floating.yellow.darken-1
            i.material-icons format_quote
        li
          a.btn-floating.green
            i.material-icons publish
        li
          a.btn-floating.blue
            i.material-icons attach_file


  block footer
