extends layout

block content
    style.
        body{
            background-color: #574370;
        }
        .div_form{
            background-color: white;   
        }
        


    .container.animated.fadeIn(ng-controller='loginController')
        .row(style='margin-top:6%')
            .col.s4.offset-s4.z-depth-2.div_form
                .row(style='margin-top:8%')
                    .col.s10.offset-s1(align='center')
                        img.responsive-img(src='/images/logo_01.png')
                .row
                    .input-field.col.s10.offset-s1(ng-class='name_null')
                      i.material-icons.prefix account_circle
                      input#icon_prefix.validate(type='text', ng-model='nombre')
                      label.regular(for='icon_prefix') Nombre/Empresa
                .row
                    .input-field.col.s10.offset-s1(ng-class='pass_null')
                      i.material-icons.prefix lock_outline
                      input#icon_prefix.validate(type='password', ng-model='contrasena')
                      label.regular(for='icon_prefix') Contraseña
                .row(style='margin-top:-6%')
                    p.col.s10.offset-s1
                      input#test5(type='checkbox', ng-model='sesion')
                      label.regular(for='test5') No cerrar sesión
                .row
                    .col.s10.offset-s1
                        button.btn.waves-effect.waves-light.col.s12.deep-purple.lighten-2(type='submit', name='action', ng-click='login()')
                          | Acceder
                .row(style='font-size:80%')
                    .col.s3.offset-s1
                        p.bold
                            a(href='/newUser').purple-text.text-darken-3
                                | ¡Registrate!
                    .col.s7
                        p.bold
                            a(href='#').purple-text.text-darken-3
                                ¿Olvidaste tu contraseña?

    script(src='/javascripts/angular_controllers/login_controller.js')
      
block footer
