extends layout

block content
    

    nav(style='height:95px').animated.fadeInDown.teal.lighten-2
        .nav-wrapper
            a.brand-logo.center(href='#') 
                img.responsive-img(src='/images/userLogo/#{id}.png', alt='')
            
    .container.animated.fadeIn(ng-controller='newSurveyController')

        .row(style='margin-top:2%')
            .col.s7.offset-s3
                h2.thin Registro de Encuesta
        .row(style='margin-top:2%')
            .row
                .col.s3
                    h5.thin Nueva Pregunta
            .row
                .input-field.col.s6
                  input#name_survey.validate(type='text',ng-model='titulo')
                  label(for='name_survey') Título de la Encuesta

                .input-field.col.s6
                    textarea#textarea1.materialize-textarea(ng-model='descripcion')
                    label(for='textarea1') Descripción
            .row
                .input-field.col.s6
                  input#name.validate(type='text',ng-model='question',ng-class='question_null')
                  label(for='name') Enunciado de la Pregunta

                .input-field.col.s6
                      select(ng-model='type_id',ng-class='type_null')
                        option(value='', disabled, selected) Tipo de Pregunta
                        option(ng-repeat='type in types',value='{{type._id}}',on-finish-render="ngRepeatFinished") {{type.nombre}}
                        option(value='Abierta') Abierta (Sin Estadísticos)
                      label Tipo
            .row
                .col.s2.offset-s10
                    a.waves-effect.waves-light.btn.col.s12(ng-click='add_question()')
                      i.material-icons.right done
                      | Agregar

        .row
            .row
                .col.s3
                    h5.thin Vista Previa
            .row
                .col.s12
                    h3.thin(align='center') {{titulo}}

            .row(ng-repeat='ques in questions')
                .row
                    .col.s10.offset-s1
                        h5.thin
                            {{ques.number}}. {{ques.question}}
                .row(align='center')
                    .col.s2(ng-repeat='option in ques.options_type')
                        p
                          input.with-gap(type='radio',id='test{{option}}{{ques.number}}',name='group{{ques.number}}')
                          label(for='test{{option}}{{ques.number}}') {{option}}

            .row
                .col.s3.offset-s9
                    a.waves-effect.waves-light.btn.col.s12(ng-click='save_survey()')
                      i.material-icons.right done_all
                      | Guardar Encuesta





