extends layout

block content

    

    nav(style='height:95px',ng-controller='newSurveyController', ng-class='color').animated.fadeInDown
        .nav-wrapper
            a.brand-logo.center(href='#') 
                img.responsive-img(src='/images/userLogo/#{id}.png', alt='')
            ul.left.hide-on-med-and-down(style='margin-top:1%')
              li
                a(href='/index')
                  i.material-icons reply_all
            
    .container.animated.fadeIn(ng-controller='newSurveyController')

        .row(style='margin-top:2%')
            .col.s8.offset-s2(align='center')
                h2.thin Registro de Encuesta
        .row(style='margin-top:2%')

            .row
                .input-field.col.s6
                  input#name_survey.validate(type='text',ng-model='titulo',length = '45')
                  label.regular(for='name_survey').blue-grey-text Título de la Encuesta

                .input-field.col.s6
                    textarea#textarea1.materialize-textarea(ng-model='descripcion')
                    label.regular(for='textarea1').blue-grey-text Descripción

            .row
                .col.s3
                    h5.thin.regular Nueva Pregunta
            .row
                .input-field.col.s6
                  input#name.validate(type='text',ng-model='question',ng-class='question_null',length='65' validate)
                  label(for='name').regular.blue-grey-text Enunciado de la Pregunta

                .input-field.col.s6
                      select(ng-model='type_id',ng-class='[type_null]')
                        option(value='', disabled, selected) Tipo de Pregunta
                        option(ng-repeat='type in types',value='{{type._id}}',on-finish-render="ngRepeatFinished") {{type.nombre}}
                        option(value='Abierta') Abierta (Sin Estadísticos)
                      label.regular Tipo
            .row
                .col.s2.offset-s10
                    a.waves-effect.waves-light.btn.col.s12(ng-click='add_question()',ng-class='color')
                      i.material-icons.right done
                      | Agregar

        .row
            .row
                .col.s3
                    h5.thin.bold Vista Previa
            .row
                .col.s12.m12
                    h3.thin.regular(align='center') {{titulo}}

            .row(ng-repeat='ques in questions')
                .row
                    .col.s10.offset-s1
                        h5.thin.regular
                            {{ques.number}}. {{ques.question}}
                    .col.s1
                      a.btn-floating.btn-large.waves-effect.waves-light.red(ng-click='delete_question(ques.number)')
                        i.material-icons delete
                .row(align='center')
                    .col.s2(ng-repeat='option in ques.options_type')
                        p
                          input.with-gap(type='radio',id='test{{option}}{{ques.number}}',name='group{{ques.number}}')
                          label.bold(for='test{{option}}{{ques.number}}') {{option}}

            .row
                .col.s3.offset-s9
                    a.waves-effect.waves-light.btn.col.s12(ng-click='save_survey()',ng-class='color')
                      i.material-icons.right done_all
                      | Guardar Encuesta

    script(src='/javascripts/angular_controllers/new_survey_controller.js')